In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.1.1'

In [6]:
dict_measures = {
    'year': [15, 18, 25, 25, 40, 55, 58, 60, 80], 
    'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]
}

In [7]:
## Create data frame by dictionary
df_measures = pd.DataFrame.from_dict(dict_measures)

df_measures

   year  height
0    15     160
1    18     162
2    25     165
3    25     168
4    40     172
5    55     174
6    58     174
7    60     174
8    80     176

## Measured summary

### Measured position

In [8]:
## Average 
df_measures["year"].mean()

41.77777777777778

In [9]:
## Median
df_measures["year"].median()

40.0

In [17]:
# Fashion (most present value in the data set)
df_measures["year"].mode()

0    25
Name: year, dtype: int64

In [15]:
df_measures["height"].mode()

0    174
Name: height, dtype: int64

### Dispersion measures

In [18]:
# Variance
df_measures.year.var()

509.94444444444446

In [19]:
# Standard deviation
df_measures.year.std()

22.58194952709895

In [20]:
# Coefficient of variation - Year
df_measures.year.std() / df_measures.year.mean() * 100

54.05253876167302

In [21]:
# Coefficient of variation - Height
df_measures.height.std() / df_measures.height.mean() * 100

54.05253876167302

#