In [16]:
import pandas as pd

In [17]:
pd.__version__

'2.1.1'

In [18]:
dict_measures = {
    'year': [15, 18, 25, 25, 40, 55, 58, 60, 80], 
    'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]
}

In [19]:
## Create data frame by dictionary
df_measures = pd.DataFrame.from_dict(dict_measures)

df_measures

   year  height
0    15     160
1    18     162
2    25     165
3    25     168
4    40     172
5    55     174
6    58     174
7    60     174
8    80     176

## Measured summary

### Measured position

In [20]:
## Average 
df_measures["year"].mean()

41.77777777777778

In [21]:
## Median
df_measures["year"].median()

40.0

In [22]:
# Fashion (most present value in the data set)
df_measures["year"].mode()

0    25
Name: year, dtype: int64

In [23]:
df_measures["height"].mode()

0    174
Name: height, dtype: int64

### Dispersion measures

In [24]:
# Variance
df_measures.year.var()

509.94444444444446

In [25]:
# Standard deviation
df_measures.year.std()

22.58194952709895

In [26]:
# Coefficient of variation - Year
df_measures.year.std() / df_measures.year.mean() * 100

54.05253876167302

In [27]:
# Coefficient of variation - Height
df_measures.height.std() / df_measures.height.mean() * 100

3.4803552812368785

### Measures forms

In [28]:
# Age asymmetry
df_measures.year.skew()

0.368108517895537

In [29]:
# Height asymmetry
df_measures.height.skew()

-0.598486996170113

In [30]:
# Curtose - Years
df_measures.year.kurtosis()

-1.1344461075421046

In [31]:
# Curtose - Height
df_measures.height.kurtosis()

-1.3372641199913002

In [32]:
# Get measures statiscs
df_measures.year.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: year, dtype: float64

### Correlation of variables

In [33]:
# Correlation of dataFrame, segund Pearson
df_measures.corr(method='pearson')

            year    height
year    1.000000  0.931024
height  0.931024  1.000000

In [34]:
# Correlation of 2 variables
df_measures.year.corr(df_measures.height)

0.9310236045054339

In [35]:
# Correlation of dataFrame, second Spearman
df_measures.corr(method='spearman')

            year    height
year    1.000000  0.978803
height  0.978803  1.000000

#